body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background: #1a1a1a;
    color: #fff;
}


/* Input Feld Design Anfang */

.inputBox {
    position: relative;
    width: 250px;
    margin-bottom: 35px;
}
.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}
.inputBox span {
    position: absolute;
    left: 0;
    top: -1px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span
{
    background: #00dfc4;
    color:#1d2b3a;
    border-radius: 2;
}

.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid #00dfc4;
}

/* Input Feld Design Ende */


/* Input Button Design Anfang */

.inputbtn {
    display: inline-block;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
    background: #1d2b3a;
    height: 15px;
    width: 100px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    border: 1px solid rgba(255, 255, 255, 0.25);

    margin-bottom: 30px;
}

.inputbtn:hover, .inputbtn:focus, .inputbtn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 1px solid #00dfc4;
}

/* Input Button Design Ende */



nav {
    z-index: 99;
    position: relative;
}

header h1, .projects h1 {
    font-size: 2em;
}

h1, p, a, small {
    color: #fff;
}

a {transition: 0.4s;}

a:hover {
    color: #ccc;
    text-decoration: none;
}

p {
    font-size: 0.9em;
    color: #ccc;
}
nav a,
footer a {
    text-decoration: none;
}

nav .container {
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0 auto;
}

nav .container > div {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

nav .menu,
nav .social-media,
nav .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul,
footer ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li, 
footer ul li {
    display: inline-block;
    margin: 0 0.5em;
}

nav ul a,
footer ul a {
    font-size: 0.8em;
    text-transform: uppercase;
}

.logo {
    width: 7em;         /* Muss in Abhängigkeit des Logos angepasst werden (ursprünglich "2") */
    display: inline-block;
}

.nav-btn {
    background: rgba(
        255, 255, 255, 0.3
    );
    color: #fff;
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;  
}

.nav-btn:hover {
    background: rgba(
        255, 255, 255, 06 /* Veränderung */
    );
}

nav .container .menu-btn {
    display: none;
}

.social-media a {
    font-size: 1em;
}

header {
    height: 100vh;
    background: radial-gradient(
        #333, #1a1a1a
    );
}

header .content,
.projects,
.overlay,
.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content { 
    color: #fff;
    padding: 0 3em;
    box-sizing: border-box;
    height: 90%;
    max-width: 700px;
    margin: 0 auto;
}
.projects {
    position: relative;
    filter: saturate(0%);
}

.projects img {
    width: 25%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        0deg,
        rgba(26, 26, 26, 1) 0%,
        rgba(26, 26, 26, 0.8) 100%
    );
    width: 100%;
    height: 100%;
    z-index: 0;
    text-align: center;
}

.row {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
    padding: 3em 2em;
}

.row p {
    font-size: 0.8em;
    max-width: 33em;
}

.row img {
    width: 22em;
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

footer {
    background: #161618;
    
}

.footer-top {
    padding: 4em 2em;
}

.footer-top .logo {
    width: 9em;                 /* muss in Abhängkeit des Logos angepasst werden (ursprünglich größe 5) */
}

.footer-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em 2em;
}

footer ul li:nth-child(1) {
    margin-left: 0;
}

@media screen and (max-width: 1000px){    /* glaube das ist skalierbarkeit */
    nav .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    nav .container > div {
        grid-template-columns: 1fr;
    }
    nav .menu {
        flex-direction: column;
        align-items: flex-start;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
    }
    nav ul:nth-child(1) li {
        display: block;
        margin: 0.5em 0;
    }
    nav ul:nth-child(1) li:nth-child(1) {
        margin-top: 1.5em;
    }
    nav ul:nth-child(2) li:nth-child(1) {
        margin-left: 0;
    }
    nav .container .menu-btn {
        display: inline-block;
        font-size: 1.4em;
        cursor: pointer;
    }
    nav .container .nav-toggle {
        height: 16em;
    }
}

@media screen and (max-height: 400px) {
    header {
        height: 40em;
    }
}

@media screen and (min-width: 1000px) {
    header .content {
        margin: 0 0 0 6em;
        font-size: 18px;
    }
    .projects .overlay h1 {
        font-size: 3em;
    }
    .row img {
        width: 30em;
    }
    .posts {
        font-size: 18px;
    }
}

@media screen and (max-width: 680px) {
    .row {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
    .row img {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    header, .projects {
        font-size: 14px;
    }
}